<div ng-if="isAuthorized(userRoles.admin)">
<h1>DASHBOARD</h1>
</div>
<!--
<div ng-if="currentUser">Welcome, {{ currentUser.name }}</div>
<div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>
<div ng-switch on="currentUser.role">
  <div ng-switch-when="userRoles.admin">You're admin.</div>
  <div ng-switch-when="userRoles.editor">You're editor.</div>
  <div ng-switch-default>You're something else.</div>
</div>
-->
<style>
.ln {border:1px solid red;}
.g {border:1px solid green;}
.y {border:1px solid yellow;}
.b {border:1px solid blue;}
</style>
<div class="row">

</div>

<div class="row">
    <div class="col-sm-6 ln">A<br /><br /><br /><br /><br /></div>
    <div class="col-sm-6 ln">B
        <div class="row">
            <div class="col-sm-6 ln">C<br /><br /><br /><br /><br /></div>
            <div class="col-sm-6 ln">D<br /><br /><br /><br /><br /></div>
        </div>        
        <div class="row">
            <div class="col-sm-6 ln">E<br /><br /><br /><br /><br /></div>
            <div class="col-sm-6 ln">F<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
        </div>
    </div>

    <div class="col-sm-8 ln">G
        <div class="row">
            <div class="col-sm-8 ln">H<br /><br /><br /><br /><br /></div>
            <div class="col-sm-4 ln">I<br /><br /><br /><br /><br /></div>
        </div>
        <div class="row">
            <div class="col-sm-4 ln">J<br /><br /><br /><br /><br /></div>
            <div class="col-sm-8 ln">K<br /><br /><br /><br /><br /></div>
        </div>
    </div>
    <div class="col-sm-4 ln">L<br /><br /><br /><br /><br /></div>
</div>